<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css"
		href="css/style_addcar.css">
		<title>
			Add to car 
		</title>
	</head>


	<body>
		<div class="content-addcar">
		<table  style="width:100%">
			<tr>
				<td>
				<img src=<%=filenamedb%> width="200">
			<form action="/upload" method="POST" enctype="multipart/form-data">
			
				<input type="file" name="upload" multiple="multiple">
				</td>
				<td width="100px" style="vertical-align:bottom;">
  				<button type="submit" value="Upload">upload</button>  
  			</td>
  			</tr>
			</table>

			<table  style="width:100%;">
			<tr>
				<td>
			</form>
			<form action="/addcar" method="POST">
				Car model: <input placeholder="model car" name = "model"><br/>
				Car brand: <input  placeholder="brand car" name = "brand">
			</td>
			<td width="100px">
				<button type="submit">Add</button>
  			</form>

			</td>
  			</tr>
			</table>
				<div clas="bac-to">
			<form action="/" method="GET">
  				<button>back to car</button>
  				</form>
		</div>
		</div>
	</body>
</html>