<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css"
		href="css/style_addcar.css">
		<title>
			Add to car 
		</title>
	</head>


	<body>
		<view>
			<form action="/addcars" method="POST">
				Car model: <input></br>
				Car brand: <input></br>
				

				<button>Add</button>
			</form>	
		</view>	
	</body>
</html>