<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css"
		href="css/style_addcar.css">
		<title>
			Add to car 
		</title>
	</head>


	<body>
		<view>
			<form action="/addcar" method="POST">
				Car model: <input></br>
				Car brand: <input></br><button>Add</button>

			</form>	
				
			<form action="/upload" enctype="multipart/form-data" method="post">
    			<input type="file" name="upload" multiple="multiple"><br>
  				<input type="submit" value="Upload">
  			</form>

				
		</view>	
	</body>
</html>