<!DOCTYPE html>
<html>
	<head>
			<link rel="stylesheet" type="text/css" href="css/verify_style.css">
		<meta charset="UTF-8"/>
		<title>
			Додати клієнта
		</title>
	</head>
	<body>
		<div id="regnew" class="verify">
			<form action="/adduser" method="post">
				Имя: <input required type="text" placeholder="name" name = "name"><br/>
				Фамилия:	<input repuired type="text" placeholder="surname" name = "surname"><br/>
				Мобильный телефон:	<input type="text" placeholder="phone number" name = "phone"><br/>
				Email:	<input type="email" placeholder="email" name = "email"><br/>
				Статус: <select name="status" repuired>
					<option value="Тест-драйв" selected>Тест-драйв</option>
					<option value="Гость">Гость</option>
				</select><br/>
				Город:<select name="sity" repuired>
					<option value="Одесса" selected>Одесса</option>
					<option value="Днепр" >Днепр</option>
					<option value="Львов" >Львов</option>
					<option value="Харьков">Харьков</option>
					<option value="Киев">Киев</option>
					</select><br/>
				Желаемое авто:<select name="auto" repuired>
					<option value="" selected></option>
					<option value="Mazda 2">Mazda 2</option>
					<option value="Mazda 3" >Mazda 3</option>
					<option value="Mazda 6" >Mazda 6</option>
					<option value="Mazda CX-5">Mazda CX-5</option>
				</select><br/>	
			<!--	Код клиента: <input type="text" placeholder="cod client" name = "codclient"><br/> !-->
				Количество сопровождающих: <input type="text"  name = "numberbodies"><br/>
				<hr/>
				<button type="submit">Зарегистрировать</button>
			</form>
			<form action="/verifirender" method="Post">
			<button type="submit">Назад</button>
			</form>
		</div>


	
	</body>
</html>