<!DOCTYPE html>
<!-- xlsx.js (C) 2013-2015 SheetJS http://sheetjs.com -->
<!-- vim: set ts=2: -->
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/import_style.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>xl-to-json</title>


</head>
<body>

<form action="/importxl" method="POST" enctype="multipart/form-data">
				<p><input type="file" name="xlfile" multiple="multiple" required/></p>
				<button type="submit" value="start import">Импортировать</button><br />
</form>


<form action="/" method="GET">
	<button type='submit'>Назад</button>
	</form>
</body>
</html>
