<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="css/style_print.css">
	</head>
	
	<body onload="window.print();">

		<h1>№1 Дмитро Станішевський</br></h1>
</body>
</html>	