<!DOCTYPE html>
<html>
	<head>
			<link rel="stylesheet" type="text/css" href="css/verify_style.css">
		<meta charset="UTF-8"/>
		<title>
			Перевірка клієнта
		</title>
	</head>
	<body>
		
		<div di="qr" class="verify">
			<button type="submit">Зчитати QR</button>
		</div>
		<div id="coddb" class="verify">
			<form action="/codverif" method="post">
				Код:	<input type="text" placeholder="cod" name = "codk"><br/>
				<button type="submit">Ввести код</button>
			</form>
		</div>
		<div id="namedb" class="verify">
			<form action="/nameverif" method="post"> 
				Прізвище:	<input type="text" placeholder="surname" name = "surname"><br/>
				<button type="submit" >По прізвищу</button>
			</form>
		</div>
		<div id="regnew" class="verify">
			<form action="/adduser" method="post">
				Імя:	<input required type="text" placeholder="name" name = "name"><br/>
				Прізвище:	<input repuired type="text" placeholder="surname" name = "surname"><br/>
				Мобільний телефон:	<input type="text" placeholder="phone number" name = "phone"><br/>
				Email:	<input type="text" placeholder="email" name = "email"><br/>
				Статус: <select name="status" repuired>
					<option value="Тест-драйв" selected>Тест-драйв</option>
					<option value="Гость">Гость</option>
				</select><br/>
				Місто:	<input repuired type="text" name = "sity"><br/>
				Бажане авто:<select name="flag" repuired>
					<option value="" selected></option>
					<option value="Mazda 2">Mazda 2</option>
					<option value="Mazda 3" >Mazda 3</option>
					<option value="Mazda 6" >Mazda 6</option>
					<option value="Mazda CX-5">Mazda CX-5</option>
				</select><br/>	
				Время начала:	<input type="text" placeholder="time start" name = "timestart"><br/>
				Время конца: <input type="text" placeholder="time end" name = "timeend"><br/>
				Код клиента: <input type="text" placeholder="cod client" name = "codclient"><br/>
				Присутність:<select name="flag" repuired>
					<option value="Прибув" selected>Прибув</option>
					<option value="не прибув">Не прибув</option>
				</select><br/>
				<hr/>
				<button type="submit">Зареєструвати нового</button>
			</form>
		</div>

	<div id="resultat">
		<%=nameuser%><br/>
		<%=phoneuser%>


	</div>
	
	</body>
</html>