@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

*{

	font-family:"Roboto Condensed", Arial, sans-serif;
	color:#1E2E37;
	background-color:#B1BAC6;
}

button{
width:80px;
height:30px;
margin:5px;

border-radius:8px;
background-color:#647377;
font-weight:bold;
border-style:solid;
border-color:#647377;
 border-radius: 8px;
 background-color:#647377;
 font-weight:bold;
 color:#CCD4CC;
 border-width:1px;

}
button:hover{
color:#1E2E37;
border-width:1px;
background-color:#B1BAC6;
border-color:#647377;

}


input{

	margin:5px;

}

.content-addcar{

	max-width: 370px;
}

