@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

*{
	font-family: "Roboto Condensed",Arial,sans-serif;
	color:#1E2E37;
	background-color: #B1BAC6;
}
button {
	margin:3px;
width:120px;
height:40px;
border-style:solid;
border-color:#647377;
 border-radius: 8px;
 background-color:#647377;
 font-weight:bold;
 color:#CCD4CC;
 border-width:1px;
 position:center;
}

button:hover{
color:#1E2E37;
border-width:1px;
background-color:#B1BAC6;
border-color:#647377;

}
.verify {
	display: inline-block;
	padding:10px;
	margin:10px;

}